* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #757272;
}

.box_in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #1d651d;
    border: 1px solid #0e21f6;
    border-radius: 5%;
}